<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Finn's Website</title>
        <style>
            body {
                font-family: sans-serif;
                margin: 0;
                padding: 0;
                background-color: #333;
                color: #f0f0f0;
            }
            h1 {
                text-align: center;
                margin-top: 100px;
            }
            p {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1>Under Construction!</h1>
        <p>This website is currently being built. (I haven't even made a proper 'under construction' page yet!) Please check back later.</p>
    </body>
</html>