{% extends "layout.html" %}

{% block title %}Finn's Website{% endblock %}

{% block head %}
    <style>
        .img-div-xs {
            background-image: url("{{url_for('static', filename='underConstructionRender540.png')}}");
        }

        .img-div-sm {
            background-image: url("{{url_for('static', filename='underConstructionRender720.png')}}");
        }

        .img-div-md {
            background-image: url("{{url_for('static', filename='underConstructionRender1080.png')}}");
        }

        .img-div-lg {
            background-image: url("{{url_for('static', filename='underConstructionRender1620.png')}}");
        }

        .img-div-xl {
            background-image: url("{{url_for('static', filename='underConstructionRender2160.png')}}");
        }

        .img-div-xxl {
            background-image: url("{{url_for('static', filename='underConstructionRender2160.png')}}");
        }

        .img-div {
            background-image: url("{{url_for('static', filename='underConstructionRenderBlue.png')}}") !important;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        body {
            background-color: #488cc4 !important;
        }
    </style>
{% endblock %}

{% block content %}
    <div data-bs-theme="light">
        <div class="img-div img-div-xs d-block d-sm-none">xs</div>
        <div class="img-div img-div-sm d-none d-sm-block d-md-none">sm</div>
        <div class="img-div img-div-md d-none d-md-block d-lg-none">md</div>
        <div class="img-div img-div-lg d-none d-lg-block d-xl-none">lg</div>
        <div class="img-div img-div-xl d-none d-xl-block d-xxl-none">xl</div>
        <div class="img-div img-div-xxl d-none d-xxl-block">xxl</div>
    </div>
{% endblock %}